*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    
}
.container-bn {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 600px;
}

.container-bn-img {
    background-image: url('https://audireply.netlify.app/img/banner02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    max-width: 100%;
    background-position: center;
}
.text_banner {
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 118%;
    left: 18.7%;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
}
.button_banner button {
    display: flex;
}
.button_banner {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    top: 96%;
    left: 16.7%;
    transform: translate(-50%, -50%);
    background: #fff;
    overflow: hidden;
    border: none;
    padding: 16px 40px;
    border: none;
    transition: .5s;
    margin-top: 15rem;
}
.button_banner:hover {
    background-color: #c0bbbb;
}
.button_banner_02 {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    top: 85%;
    left: 25.4%;
    transform: translate(-20%, -50%);
    text-decoration: none;
    background: none;
    border: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    transition: .5s;
    margin-top: 19.1rem;
}
.button_banner_02:hover {
    color: #3d3b3b;
    border: 1px solid #3d3b3b;
}


/* ======= SECTION 2 ========*/

.header_info p{
    color: #fff;
}
.container_info {
    min-height: 100vh;
    background: #000;
    margin-top: 18rem;
}
.container_info p {
    font-size: 13px;
    padding: 25px 170px;
    background: #000;
    color: #fff;
}
.container_info .header_info h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10rem;
    font-size: 65px;
    display: flex;
    justify-content: center;
    color: #fff;
    letter-spacing: 4px;
}

.video01 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 10rem;
    margin-left: -1.2rem;
}
.container_info_two {
    min-height: 100vh;
    background: #000;
}
.container_info_two p {
    font-size: 13px;
    padding: 25px 170px;
    background: #000;
    color: #fff;
}
.right__img {
    margin-left: 38.9rem;
}

/* ===== CAROUSEL =====*/


/* AUDI SPECTS */

.container-spects {
    padding: 5rem;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.container-spects h2 {
    color: #000;
    font-size: 50px;
    font-weight: bold;
}
.container-spects {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.text-info p {
    color: #000;
}

.text-info button{
    text-decoration: none;
    border: none;
    background: none;
    border: 1px solid #000;
    padding: 15px 60px;
    transition: .2s;
}
.text-info button:hover {
    color: #696666;
    border: 1px solid #696666;
}
.info-mid {
    padding: 14rem 3rem;
}
.text-info img{
    margin-left: -13rem;
}

/* TWO IMAGES */

.container-images-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.container-left {
    margin-left: 5rem;
}
.container-right {
    margin-left: -1rem;
}
.container-images-two h4 {
    font-weight: 700;
    margin-top: 2rem;
}
.container-images-two p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.arrow-p {
    font-size: 26px;
}
.btn-left {
    text-decoration: none;
    border: none;
    background: none;
}
.btn-right {
    text-decoration: none;
    border: none;
    background: none;
}

/* INFO THREE */

.aside-three {
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px 100px;
}
.container-info-sm {
    width: 100%;
    margin-left: 5rem;
    padding: 50px 80px;
    
}
.container-info-sm h2 p {
    font-size: 16px;
    margin-top: 3.5rem;
    margin-left: 0.5rem;
}
.container-info-sm h2 {
    font-size: 95px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.parrafo-title {
    font-weight: bold;
    font-size: 16px;
    margin-left: 1.5rem;
}

.info-fix {
    margin-left: 10rem;
}
.container-border {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 65%;
    margin-left: -3rem;
}
.last-info {
    margin-left: 1.5rem;
}
.two-icons {
    min-height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.two-icons p {
    margin-top: 4.5rem;
    margin-left: -12rem;
}
.icons-dm {
    display: flex;
    justify-content: center;
    margin-left: 48rem;
    gap: 8rem;
    cursor: pointer;
    height: 10%;
}
.icons-dm p {
    font-size: 17px;
}
.icons-two {
    font-size: 70px;
}

/* 430PX RESPONSIVE */

@media (max-width: 430px) {
    .container-bn-img{
        max-width: 100%;
        height: 800px;
        background-image: url('https://audireply.netlify.app/img/imgmedia.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
    }
    .text_banner {
        color: #fff;
        font-size: 40px;
        position: absolute;
        top: 88%;
        left: 37%;
        margin-top: 6rem;
        transform: translate(-50%, -50%);
    }
    .button_banner {
        color: #000;
        text-decoration: none;
        font-size: 17px;
        position: absolute;
        top: 85%;
        left: 20%;
        transform: translate(-9%, 50%);
        overflow: hidden;
        border: none;
        padding: 16px 70px;
        margin-top: 8rem;
        border: none;
        transition: .5s;
    }
    .button_banner_02 {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        position: absolute;
        top: 85%;
        left: 35%;
        margin-top: 12rem;
        transform: translate(-31.2%, 50%);
        text-decoration: none;
        background: none;
        border: none;
        border: 1px solid #fff;
        padding: 1px 90px;
        transition: .5s;
    }
    /* SECTION 2 */
    .container_info {
        width: 100%;
        display: flex;
        background-color: #000;
    }
    .header_info p {
        display: flex;
        width: 60%;
        text-align: center;
        align-items: center;
        margin-top: -6rem;
        margin-left: -9rem;    
        color: #fff;
        font-size: 13px;
    }
    .container_info .header_info h1 {
        font-size: 26px;
        letter-spacing: 2px;
        margin-top: 3rem;
    }
    .text-effect{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 6rem;
        display: flex;
        margin-left: -46rem;
        margin-right: 2rem;
        color: #fff;
    }
    .video01 {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10rem;
        margin-left: -45rem;
    }
    .container_info_two {
        width: 100%;
        background-color: #000;
    }
    .header_info_two p{
        padding: 20px 40px;
    }

    /* SECTION THREE */
    
    .aside-three {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0px;
    }
    .container-info-sm {
        width: 100%;
        margin-left: 0rem;
        padding: 50px 120px;
    }
    .info-fix .parrafo-title {
        margin-top: 16rem;
        margin-left: -21rem;
    }
    .test-two {
        margin-left: -22rem;
    }
    .twt .parrafo-title {
        margin-top: 34rem;
        margin-left: -37rem;
    }
    .test {
        margin-left: -38rem;
    }

    .container-border {
        border: none;
        
    }
    .last-info {
        margin-left: -21rem;
    }
    .icons-dm {
        margin-top: 5rem;
        margin-left: 4rem;
        height: 10%;
    }
    /* Plug & Play   */

    .container-spects {
        padding: 0rem;
        max-width: 100px;
        width: 95%;
        margin: 10px auto;
        margin-bottom: -7rem;
    }
    .container-spects h2 {
        margin-top: 10rem;
        margin-left: -27rem;
        color: #000;
        font-size: 28px;
        font-weight: bold;
    }
    .container-spects {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .text-info p {
        display: flex;
        color: #000;
        margin-left: -27rem;
        width: 300px;
    }
    .text-info button{
        border: 1px solid #000;
        padding: 15px 110px;
        transition: .2s;
        margin-left: -27rem;
    }
    .text-info button:hover {
        color: #696666;
        border: 1px solid #696666;
    }
    .info-mid {
        padding: 14rem 3rem;
    }
    .text-info img{
        margin-left: -8rem;
        width: 360px;
        height: 360px;
    }


    /* TWO IMAGES */

.container-images-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-left: -4rem;
}
.container-left {
    margin-left: 5rem;
}
.container-left img {
    width: 360px;
    height: 200px;
}
.container-right {
    margin-left: -24.4rem;
    margin-top: 25rem;
}
.container-right img {
    width: 360px;
    height: 200px;
}
.container-images-two h4 {
    font-weight: 700;
    margin-top: 2rem;
}
.container-images-two p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.arrow-p {
    font-size: 26px;
}
.btn-left {
    text-decoration: none;
    border: none;
    background: none;
}
.btn-right {
    text-decoration: none;
    border: none;
    background: none;
}
}
@media (max-width: 390px) {
    .text_banner {
        left: 38%;
    }
    .button_banner {
        left: 18.9%;
    }
    .header_info p {
        margin-left: -10.3rem;    
        font-size: 11px;
    }
    .container_info .header_info h1 {
        font-size: 23px;
    }
    .text-effect{
        margin-left: -47rem;
        margin-right: 3rem;
    }
}