/* ---- GOOGLE FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Libre+Baskerville&family=Nunito:wght@200;300;400;500;600&family=Permanent+Marker&family=Poppins&family=Source+Sans+3:wght@400;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}